policy_module(simpleserver, 1.0.0)


require {
	type node_t;
	type soundd_port_t;
	type httpd_sys_content_t;
};
########################################
#
# Declarations
#

type simpleserver_t;
type simpleserver_exec_t;
init_daemon_domain(simpleserver_t, simpleserver_exec_t)

#permissive simpleserver_t;

########################################
#
# simpleserver local policy
#
allow simpleserver_t self:fifo_file rw_fifo_file_perms;
allow simpleserver_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(simpleserver_t)

miscfiles_read_localization(simpleserver_t)

# Allow working with tcp socket 
allow simpleserver_t self:tcp_socket { accept bind create getattr listen read shutdown write };
allow simpleserver_t node_t:tcp_socket node_bind;
allow simpleserver_t soundd_port_t:tcp_socket name_bind;

allow simpleserver_t httpd_sys_content_t:dir read;
allow simpleserver_t httpd_sys_content_t:file { getattr ioctl open read write };
